<ion-header [translucent]="true">
 <ion-item color ="dark">
  <ion-searchbar (ionChange)="buscarEndereco($event)" color ="light" mode="ios" placeholder="Buscar destino"></ion-searchbar>
 </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [hidden]="!listaEndereco.length">
    <ion-item lines="full" *ngFor="let local of listaEndereco" (click)="tracarRota(local)">
      <ion-label>
        {{local.description}}
      </ion-label>
    </ion-item>
  </ion-list>
 <div id="map" #map></div>
</ion-content>
